* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    min-height: 100vh;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

#forca {
    width: 200px;
    margin: 20px 0;
}

#palavra-exibida {
    font-size: 3em;
    margin: 20px 0;
    letter-spacing: 10px;
}

#entrada-letra {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

#inserir-letra{
    align-items: center;
}

#btn btn-outline-success{
    height: 40px;
}

.botao-reiniciar {
    display: none;
  position: relative;
  background: transparent;
  padding: 0px;
  margin: 30px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: hsl(226, 25%, 69%);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(248, 53%, 58%);
  padding: 16px 32px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.botao-reiniciar:hover {
  filter: brightness(110%);
}

.botao-reiniciar:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.botao-reiniciar:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.botao-reiniciar:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.botao-reiniciar:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.botao-reiniciar:focus:not(:focus-visible) {
  outline: none;
}

#letras-inseridas{
    font-size: 2em;
    color: blue;
    font-weight: bold;
    margin-bottom: 20px;
}

#mensagem{
    display: none;
}